* {
  box-sizing: border-box;
  margin: auto
}

body {
  margin: auto;
  border: solid black 1px;
  margin-top: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

p {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

NavLink {
  color: whitesmoke;
}

@media screen and (min-width: 480px) {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


}