* {
  box-sizing: border-box;
  margin: auto;
}

body, html {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.site-wrapper {
  background-image: url('/public/Pictures/HomePagePic/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  background-color: black;
  display: flex;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  height: 70px;
  margin-bottom: 0;
}

.logo-container {
  justify-self: center;
  margin-left: 1em;
}

.logo-container img {
  width: 100px;
  height: auto;
  padding: 25px 2px;
  background-color: white;
  border-radius: 80px;
  border: solid black 1px;
}

.menu-button {
  display: block;
  position: relative;
  z-index: 10;
  background-color: white;
  text-align: center;
  border-radius: 2px;
  right: -3em;
}


.nav-links {
  display: none;
}

.navLink {
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid black 1px;
  width: 35%;
  text-align: center;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/public/Pictures/HomePagePic/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-pic-container {
  width: 100%;
  height: auto;
}

.head-title {
  margin-top: -2.3em;
  margin-bottom: 1em;
}

.head-title h3 {
  width: 90%;
  font-size: 0.74rem;
  font-weight: bold;
  color: black;
  border-radius: 7px;
  margin-left: 4.6em;
}

.home-page-container h2 {
    color: darkorange;
        font-size: 1.3rem;
        margin-top: 10px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 3x black;
  }

  .info-btn {
  padding: 0.6em 1.2em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
}

.bubble {
  position: absolute;
  top: 3.8rem;   /* udaljenost od dugmeta */
  right: 0;

  background: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1em;
  width: 220px;

  z-index: 100;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}



#home-apply-btn {
  width: 140px;
  height: 40px;
  background-color: darkorange;
  color: black;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  padding: 7px 14px;
}

.sponsor-slider {
  overflow: hidden;
  position: relative;
  width: 90%;
  background-color: none;
  margin-top: 2em;
}

.sponsor-slider-track {
  display: flex;
  width: calc(179.6px * 8);
  gap: 2em;
  animation: scrollSponsors 12s linear infinite;
}

.sponsor-img-container {
  margin: 1em;
}

.sponsor-img-container img {
  width: 120px;
  height: auto;
  padding: 0.6em;
  border: solid black 1px;
  border-radius: 7px;
  transition: transform 0.3s ease-in-out;
}

.sponsor img:hover {
  transform: scale(1.1);
}

@keyframes scrollSponsors {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.offer-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  height: 76vh;
}

.offer-btns {
  display: flex;
}

.offer-btn {
  text-decoration: none;
  color: black;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0.4em
}

.ski-kamp-container {
  width: 90%;
}

.button-container {
  text-align: right;
  margin-top: 2em;
  margin-bottom: 4em;
}

.apply-btn {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 0.5em 1.2em;
}

.ski-kamp-container h3 {
  font-size: 0.9rem;
}

.ski-kamp-container span {
  background-color: darkorange;
  color: black;
  padding: 4px 7px;
  border-radius: 8px;
}

.team-building-container {
  width: 90%
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 90%;
  height:77vh;
  margin: 5em auto;
}

.sponsor {
  flex: 1 1 200px;
  max-width: 160px;
  height: 160px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 19px 8px grey;
}

.sponsor img {
  width: 100%;
}

.gallery {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.gallery-container {
  margin-left: 0.5em;
  margin-bottom: 1em;
  height: 78vh;
}

.gallery-container h2 {
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.gallery-dropdown {
  margin-bottom: 1em;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5em 0em;
  border-radius: 5px;
  font-size: 1rem;
  cursor: "pointer"
}

.gallery-dropdown option:hover {
  background-color: grey;
  color:black;
  cursor: pointer;
}

.gallery-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border: solid black 1px;
}

.gallery img {
  width: 90%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.gallery video {
  width: 90%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.about-us-btns {
  display: flex;
  flex-wrap: wrap;
}

.about-us-btn {
  text-decoration: none;
  color: black;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0.4em;
}

.coaches-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

.coaches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 90%;
  margin: 2em auto;
}

.poster {
  flex: 1 1 200px;
  max-width: 160px;
  height: 160px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 19px 8px grey;
}

.poster img {
  width: 65px;
  margin-bottom: 0.5em;
}

.coaches-container h1 {
  text-decoration: none;
  color: black;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
  width: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.about-club-container {
  margin-top: 3em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.about-club-txt {
  width: 70%;
  margin-top: 3em;
}

.about-vlasic {
  margin-top: 5em;
}

.about-vlasic h4 {
  text-decoration: none;
  color: black;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
  width: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.about-vlasic-pic-txt {
  display: flex;
  justify-content: space-between;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.about-vlasic-txt {
  width: 45%;
}

.second-column {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-bottom: 3em;
}

.about-vlasic-pic-txt img {
  width: 90%;
  align-self: center;
  padding: 0.2em;
  border: solid black 1px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.close-button,
.arrow, 
.arrow-left,
.arrow-right,
.indicators:hover {
  cursor: pointer;
}

.apply-form select {
  width: 130%;
  height: 50px;
}

.apply-form input {
  width: 120%;
  height: 35px;
}

.footer {
  display: flex;
  position: relative;
  width: 100vw;
  margin-bottom: 0px;
  background-color: black !important;
}

.footer a {
  text-decoration: none;
  text-align: center;
  justify-self: center;
  background-color: black;
  color: white;
}

#policy {
  font-size: xx-small;
}

#h3privacy{ 
  color:black;
  margin-top: 200px;
  margin-bottom: 49vh;
}

.dropdownItem {
  padding: 10px 20px;
  display: inline-block;
  color: #333;
  position: relative;
  text-decoration: none;
}

.dropdownItem::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.apply-container {
  width: 90%;
}

.apply-container h2 {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
  width: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.apply-container p {
  text-align: center;
  margin-bottom: 1em;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 90%;
  margin: 2em auto;
  padding-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.8);
}

.contacts .poster {
  max-width: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 1em;
  background-color: white;
}

.contacts .poster:last-child {
  margin-bottom: 0;
}

.about-vlasic, .apply-container, .footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 4px;
}

.contacts img {
  max-width: 5em;
}

.apply-container h3 {
  margin-bottom: 1.5em;
  text-decoration: underline;
}

.departures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 90%;
  margin: 2em auto;
}

.departures h6 {
  background-color: rgba(228, 228, 73, 0.911);
  padding: 0.7em 1em;
}

ol {
  margin-bottom: 3em;
}

.dropdownItem:hover::after {
  width: 100%;
}

.apply-form {
  display: flex;
  flex-direction: column;
}

.apply-form h2 {
  margin-bottom: 2em;
  margin-top: 2em;
}

.apply-form h4 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

select {
  height: 2em;
}

option {
  height: 2.5em;
}

input {
  margin: 0.5em;
  height: 2em;
}

select {
  margin: 0.5em;
  margin-top: 2.5em;
}

.apply-form button {
  background-color: black;
  color: whitesmoke;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 3em;
}

.apply-form button:hover {
  cursor: pointer;
  font-size: 0.9rem;
}

.footer {
  margin-bottom: 0px;
  margin-top: 120px;
}

/* -------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: auto;
    margin-right: 0em;
  }

  .navLink {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    width: auto;
    transition: color 0.3s ease;
    position: relative; /* Required for positioning the pseudo-element */
  }

  .navLink:hover {
    color: lightskyblue;
    font-weight: bold;
  }

  .navLink:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Position the underline slightly below the text */
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth animation for underline */
  }

  .navLink:hover::after {
    width: 100%; /* Expand underline to full width */
}

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
  }

 .left-space {
  margin-left: 18em;
 }

  .logo-container {
    left: -9em;
  }
  
  .logo-container img {
    width: 130px;
    height: auto;
    padding: 30px 2px;
    background-color: white;
    border-radius: 100px;
    border: solid black 1px;
    margin-left: -65em;
  }

  .menu-button {
    display: none;
  }

  .mix-pic {
    display: none;
  }

  .static-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .head-title {
    margin-top: -40em;
    margin-bottom: 29em;
  }

  .head-title h3 {
    font-family: "DynaPuff";
    font-size: 2.3rem;
    font-weight: bold;
    color: darkorange;
    text-shadow: 3px 3px 2px black;
    animation-name: alert;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-fill-mode: both;
  }

  .home-page-container h2 {
    color: black;
    font-size: 2.3rem;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 700px;
  }

  .bubble {
  position: absolute;         /* udaljenost od dugmeta */
  right:700px;
  width: 520px;
  font-size:x-large;
  top:200px;
}

  #home-apply-btn {
    width: 250px;
    height: auto;
    padding: 15px 25px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .button-container .apply-btn {
    background-color: black;
    color: white
  }

  @keyframes alert {
    from {opacity: 0%; width: 0%; height: 0%;}
    to {opacity: 100%; width: 100%; height: 100%;}
  }

  .sponsor-slider-track {
    animation: scrollSponsors 35s linear infinite;
  }

  .offer-btns {
    margin-left: 4em;
  }

  .offer-btn {
    text-decoration: none;
    color: black;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 2em;
    padding: 0.5em 3em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  .ski-kamp-container li {
    font-size: 1.2rem;
  }
  
  .ski-kamp-container h3 {
    font-size: 1rem;
    margin-top: -65px;
    margin-left: -260px;
  }

  .ski-kamp-container span {
    color: white;
  }


  .gallery-container h2 {
    margin-top: 5em;
  }

  .gallery-media-container {
    width: 150px;
  }

  .about-us-btns {
    margin-left: 4em;
  }

  .about-us-btn {
    text-decoration: none;
    color: black;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 1em;
    padding: 0.5em 3em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  .sponsors {
    margin-top: 10em;
    height: 75vh;
  }

  
.carousel-overlay img{
  width: 40%;
}

  .about-vlasic-pic-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .first-column {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 2em;
  }

  .about-vlasic-txt {
    width: 90%;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
  }

  .second-column {
    display: flex;
    flex-direction: row;
    width: 95%;
  }

  .about-vlasic-pic-txt img {
    width: 15%;
    margin: 0 0.4em;
  }

  .close-button {
    margin-top: -2em;
    margin-right: 2em;
  }

}

@media screen and (max-width: 480px) {
  .static-image {
    display: none;
  }
}