* {
  box-sizing: border-box;
  margin: auto;
}

body {
  margin: auto;
  background-color: white;
  border: solid black 1px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1em;
  position: relative;
  overflow: visible;
  height: 70px;
  margin-bottom: 5em;
}

.logo-container {
  position: absolute;
  transform: scale(1.5);
  top: 1.5em;
  margin-left: 2em;
}

.logo-container img {
  border: solid black 1px;
  width: 90px !important;
  height: auto;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-radius: 80px;
  background-color: white;
}

.menu-button {
  position: relative;
  display: inline-block;
  width: 9em;
  margin-right: 30px;
  background-color: white;
  text-align: center;
  border-radius: 2px;
}

.navLink {
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid black 1px;
  width: 35%;
  text-align: center;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-pic-container {
  margin-top: 2em;
  width: 90%;
  flex-grow: 1;
}

.offer-container {
  display: flex;
  flex-direction: column;
}

.offer-btns {
  display: flex;
}

.offer-btn {
  text-decoration: none;
  color: black;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  margin: 0.4em
}

.ski-kamp-container {
  width: 90%;
}

.button-container {
  text-align: right;
}

.ski-kamp-container button {
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 0.5em 1.2em;
  margin-top: 2em;
}

.team-building-container {
  width: 90%
}

.about-us-container {
  display: flex;
  flex-direction: column;
}

.about-us-btns {
  display: flex;
}

.about-us-btn {
  text-decoration: none;
  color: black;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  margin: 0.4em
}

.coaches-container {
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  align-items: center !important;
}

.about-club-container {
  margin-top: 3em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.about-club-txt {
  width: 70%;
  margin-top: 3em;
}

.footer {
  margin-bottom: 0px;
}

.footer p {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdownItem {
  padding: 10px 20px;
  display: inline-block;
  color: #333;
  position: relative;
  text-decoration: none;
}

.dropdownItem::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease; /* Controls the animation effect */
}

.dropdownItem:hover::after {
  width: 100%; /* On hover, the underline will stretch to the full width */
}



@media screen and (min-width: 480px) {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }

  
.menu-button {
  position: relative;
  display: inline-block;
  width: 10em;
  margin-right: 70px;
  background-color: white;
  text-align: center;
  border-radius: 2px;
}

  .navLink {
    text-decoration: none;
    background-color: white;
    color: black;
  }

  .navLink:hover {
    background-color: black;
    color: white;
    width: 40%;
    height: 2.5em;
  }

  .home-pic-container {
    max-width: 60%;
  }

  .home-pic-container img {
    max-width: 100%;
  }

  .offer-btns {
    margin-left: 4em;
  }

  .offer-btn {
    text-decoration: none;
    color: black;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 2em;
    padding: 0.5em 3em;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  }

  .about-us-btns {
    margin-left: 4em;
  }
  
  .about-us-btn {
    text-decoration: none;
    color: black;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 2em;
    padding: 0.5em 3em;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  }

}