* {
  box-sizing: border-box;
  margin: auto
}

body {
  margin: auto;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-top: 2em;
}

.navLink {
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid black 1px;
  width: 35%;
  text-align: center;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.home-pic-container {
  max-width: 60%;
}

.home-pic-container img {
  max-width: 100%;
}


p {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 480px) {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }

  .navLink {
    text-decoration: none;
    background-color: white;
    color: black;
  }

  .navLink:hover {
    background-color: black;
    color: white;
    width: 40%;
    height: 2.5em;
  }

  .home-pic-container {
    max-width: 60%;
  }

  .home-pic-container img {
    max-width: 100%;
  }

}